/* ABOUT */

#about , #research , #contact {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr repeat(3,minmax(33%,450px)) 1fr;
  grid-template-rows: 1fr repeat(3,33%) 1fr;
  align-items: center;
  justify-items: center;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

#title-about {
  width: 268px;
  grid-column: 2/3;
  grid-row: 2/4;
  justify-self: flex-end;
}

#title-about h2 {
  color: var(--text-light);
}

#about p {
  width: 620px;
  grid-column: 2/-2;
  grid-row: 1/-1;
  padding: 50px 0 0;
}

/* #about blockquote {
  grid-column: -4/-2;
  grid-row: -3/-2;
  font-size: 22px;
}

#about blockquote span {
  font-size: 30px;
} */

/* RESEARCH */

#research h1 {
  grid-column: 2/3;
  grid-row: 2/3;
}

#research h2 {
  font-size: 20px;
  color: var(--text-light);
}

#research p {
  width: 535px;
}

#research #research-section {
  grid-column: 1/-1;
  grid-row: 1/-1;
  width: 800px;
  height: 60%;
  margin: 70px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#research #background , #research #publication , #research #interests {
  display: flex;
  justify-content: space-between;
}

#research #interests div {
  width: 535px;
  display: flex;
  flex-wrap: wrap;
}

#research #interests div p {
  width: fit-content;
  padding: 1px 5px 2px 5px;
  margin: 0 5px 5px 0;
  font-size: 14px;
  background-color: var(--text-veryLight);
}

/* CONTACT */

#contact {
  height: calc(100vh - 90px);
}

#contact h1 {
  grid-column: 2/3;
  grid-row: 2/4;
}

#contact p {
  grid-column: 2/-2;
  grid-row: 2/-2;
}
